@font-face {
  src: url("../fonts/MuseoSansCyrl500.ttf");
  font-family: "MuseoSansCyrl";
}

@font-face {
  src: url("../fonts/MuseoSansCyrl700.ttf");
  font-family: "MuseoSansCyrlBold";
  font-weight: 700;
}
